@(product: Product, mode: String)

@mainAuth(mode) {
    <div class="page-header">
        <div class="row">
            <h1>Edit Product</h1>
        </div>
    </div>

    <form action="/manageProducts/@product.id/edit" method="POST" class="form-horizontal">
        <fieldset>
            <legend>Edit Product</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                           value="@product.name">
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-lg-2 control-label">Price</label>

                <div class="col-lg-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Price"
                               value="@product.price">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="bought" class="col-lg-2 control-label">Bought At</label>

                <div class="col-lg-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" id="bought" name="bought" placeholder="Bought"
                               value="@product.bought">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
}
