@(dates: Seq[String], mode: String)

@mainAuth(mode) {
    <div class="page-header">
        <div class="row">
            <h1>Export Data</h1>
        </div>
    </div>
    <form action="/export" method="POST" class="form-horizontal">
        <fieldset>
            <legend>Get Export</legend>
            <div class="form-group">
                <label for="date" class="col-lg-2 control-label">Date</label>

                <div class="col-lg-10">
                    <select class="form-control" id="date" name="date">
                    @dates.map { d =>
                        <option>@d</option>
                    }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
}
