@(totalPurchases: Double, purchases: Seq[Purchase], mode: String)(implicit flash: Flash)

@extraBody = {
    <script>document.getElementById("barcode").focus();</script>
}

@mainAuth(mode, extraBody = extraBody) {
    <div class="page-header">
        <div class="row">
            <h1>Add purchases</h1>
        </div>
    </div>
    @flash.get("warning").map { message =>
    <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>@message</h4>
    </div>
    }
    <form action="/scanBarcode" method="POST" class="form-horizontal">
        <fieldset>
            <legend>Scan Barcode</legend>
            <div class="form-group">
                <label for="barcode" class="col-lg-2 control-label">Barcode</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Barcode">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>

    <h1>Total Sales: $@totalPurchases of a target of $100</h1>

    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: @totalPurchases%"></div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity Sold</th>
        </tr>
        </thead>
        <tbody>
        @purchases.map { purchase =>
            <tr>
                <td>@purchase.product.name</td>
                <td>@purchase.quantity</td>
            </tr>
        }
        </tbody>
    </table>
</div>
}
