@(extraHead: Html = Html(""), extraBody: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Store</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    @extraHead
</head>
<body>

@content

<script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")""></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

@extraBody
</body>
</html>
