@(barcodes: Seq[BarcodePair], products: Seq[Product], mode: String)

@mainAuth(mode) {
    <div class="page-header">
        <div class="row">
            <h1>Manage Barcodes</h1>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Barcode</th>
            <th>Product</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @barcodes.map { barcode =>
        <tr>
            <td>@barcode.barcode</td>
            <td>@barcode.product.name</td>
            <td>
                @helper.form(routes.Application.deleteBarcode(barcode.barcode)) {
                <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                    }
            </td>
        </tr>
        }
        </tbody>
    </table>

    <form action="/createBarcode" method="POST" class="form-horizontal">
        <fieldset>
            <legend>Create a barcode</legend>
            <div class="form-group">
                <label for="barcode" class="col-lg-2 control-label">Barcode</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Barcode">
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-lg-2 control-label">Product</label>

                <div class="col-lg-10">
                    <select class="form-control" id="product" name="product">
                        @products.map { p =>
                        <option>@p.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
}
